#{$outer-wrapper} {
    & {
    }
    //sizes here
    // closed
    .calculator {
    }
    .settings {
    }
    .sidebar {
    }
    &#{$open} {
      .calculator {
      }
      .settings {
      }
      .sidebar {
      }
    }
  }

  .move-it {
    transform: rotateY(0deg)$i; /* needs Y at 0 deg to behave properly*/
    transition: transform .25s;
    &:hover {
      transform: rotateY(360deg); /* needs Y at 0 deg to behave properly*/
      
    }
  }