#{$outer-wrapper} {
  max-width: 720px;

  .slider {
    @include transition(all 0.25s);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform-origin: right;
  }

  // sizes
  .calculator {
    @include transition(all 0.25s);
    border-radius: $s-05r;
    border-width: 2px;
    border-style: solid;
    // margin: 0 -0.75rem;
    padding: 0.5rem;

    .keyboard {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  ///////////////  sidebar
  // sizes
  .calculator {
    &::after {
      // content: "";
      border: 1px solid;
      width: 0;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 97.7%;
      height: 100%;
      border-color: blue;
    }
  }

  // open
  &#{$open} {
    .calculator {
    }
    .slider {
      right: 25%;
      .sidebar {
        .keyboard-wrapper {
        }
      }
    }
  }
}
