$open: ".open";
$picture: ".picture";
$showing: ".showing";
$color: ".color";
$anim: ".anim";
$selected: ".selected";
$outer-wrapper: "#calculator > .container";
$i: #{"!"}important;

$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
