#{$outer-wrapper} {
  max-width: 720px;
  > div.row:first-of-type {
    position: relative;
    border-radius: $s-05r;
    
    // calculator
    > div:nth-of-type(1) {
    }
    // sidebar
    > div:nth-of-type(2) {
    }
  }
  .calculator {
    border-radius: $s-05r;
    border: 2px solid;
    @include transition(all 0.25s);
    transform-origin: 0;
    z-index: 1;

    // display row
    div:nth-of-type(1) {
    }
    // main keyboards row
    > div:nth-of-type(2) {
      .col {
        border: 2px solid;
        margin: 5px;
        border-radius: $s-05r;
      }
    }

    > .title {
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 100;
      margin: 10px 20px;
    }
  }
  &#{$open} {
    .calculator {
      border-radius: $s-04r 0 0 $s-04r;
      // transform: scaleX(0.5);
      transform: matrix3d(5, 2.3, 0, 0.007, 0, 4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 4);
      transform-origin: 0px 0px 0px;
    }
  }
  &#{$picture} {
    .calculator {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}
