.calculator {
  .display {
    background: #abbaa7;
    border: 2px solid #6d6d6d;
    border-radius: 5px;
    box-shadow: inset -2px -2px 3px 1px #96a292;
    clear: both;
    color: #2f2f2f;
    font-family: Orbitron, sans-serif;
    margin: 15px 0;
    width: 100%;
    text-align: right;
    p {
      margin-bottom: 5px;
    }
    .calculation {
      font-size: 1.7em;
      min-height: 3rem;
    }
    .clearIt {
      margin: 0;
    }
    .result {
      font-size: 2.7em;
    }
  }
  sup {
    top: -0.8em;
  }
  sub,
  sup {
    position: relative;
    font-size: 0.6em;
    font-weight: 600;
    line-height: 0;
    vertical-align: baseline;
  }
}
