.keyboard {
  transition-duration: 0.05s;
  border: 1px solid;
  border-radius: $s-025r;
  margin: 0;
  padding: 5px;
  &.keyboard-number {
  }
  &.keyboard-utility {
    border: 0;
    background: none$i;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
.calculator {
  .keyboard { 
    .title {
      display: none;
    }
  }
}

.sidebar {
  .keyboard-wrapper {
    position: relative;
    .circle {
      z-index: 100;
      height: 2rem;
      width: 2rem;
      background-color: #c4faff6e;
      position: absolute;
      // left: 90%;
      top: 50%;
      border-radius: 25px;
      @include transition(all 0.25s ease-out);
      transform-origin: center;
      &:hover {
        transform: scale(1.5);
        + .keyboard {
          .btn {
            transform: rotate(0deg);
            width: 80%;
            opacity: 1;
            @for $i from 10 through 1 {
              &:nth-of-type(#{$i}) {
                top: calc(#{$i} * 40px);
              }
            }
          }
        }
        &:after {
          transform: scale(.675);
        }
      }
      &:after {
        content: "";
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border: none$i;
        background-color: #c4faff6e;
        border-radius: 25px;
        position: absolute;
        top: -.5rem;
        left: -.5rem;
        @include transition(all 0.25s ease-out);
        transform: scale(1);
      }
    }
    border: 1px dashed black;
    .keyboard {
      border-radius: 50px;
      height: 50%;
      transform-origin: right;
      @include transition(all 0.25s ease-out);
      .btn {
        z-index: 0;
        transform: rotate(180deg);
        transform-origin: right;
        width: 100%;
        opacity: 0.2;
        position: relative;
        @for $i from 1 through 10 {
          &:nth-of-type(#{$i}) {
            transition: transform #{$i * 0.25}s, opacity #{$i * 0.25}s,
              width #{$i * 0.25}s;
            transition: top #{$i * 0.25}s;
          }
        }
        @for $i from 10 through 1 {
          &:nth-of-type(#{$i}) {
            top: calc(((#{$i} -1) * 40px) - 40px);
          }
        }
      }
    }
    .keyboard:nth-of-type(2) {
      .btn {
        width: 100%;
        opacity: 0.2;
        position: relative;
        @for $i from 1 through 10 {
          &:nth-of-type(#{$i}) {
            transition: transform #{$i * 0.15}s, opacity #{$i * 0.15}s,
              width #{$i * 0.15}s, top #{$i * 0.15}s ease 0s;
          }
        }
        @for $i from 10 through 1 {
          &:nth-of-type(#{$i}) {
            top: calc(190px - (#{$i} * 40px));
          }
        }
      }
    }
  }
  .keyboard-theme,
  .keyboard-theme-type {
    margin-bottom: 10px;
    .title {
      display: none;
      width: 100%;
      text-align: center;
      font-size: 1rem;
      padding: 10px 6px;
      border-radius: 6px;
      font-weight: 600;
      background: none;
      border: 1px solid;
    }
  }
}

@include themify($themes) {
   .sidebar {
    .keyboard-theme,
    .keyboard-theme-type {
      background-color: themed(keyboardBackground);
      .title {
        color: darken(themed(textColor), 10%);
      }
    }
  }
}

.keyboard-theme-type {
}
.keyboard-theme {
  // display: none$i;
}
// theme section colours
@include themify($themes) {
   .sidebar {
    .keyboard {
      background-color: darken(
        transparentize(themed(keyboardBackground), 0.2),
        15%
      );
      border-color: transparentize(themed(keyboardBorderColor), 0.2);
    }
  }
}
// open
#{$open} {
  @include themify($themes) {
    .keyboard {
    }
  }
}

#{$picture} {
  // sizes
     .sidebar {
      .keyboard {
      }
    }
  }
  // colors
  @include themify($themes) {
    .keyboard {
      background-color: #faebd729;
    }
     .sidebar {
      .keyboard {
      }
    }
  }

#{$color} {
  // sizes
     .sidebar {
      .keyboard {
      }
    }
  }
  // colors
  @include themify($themes) {
     .sidebar {
      .keyboard {
      }
    }
  }
