// @import "_transitions";
.keyboard {
  button {
    margin: 3px;
    height: 40px;
    width: auto;
    width: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    // transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    //   border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    //   width 0.5s ease-in-out, height 0.5s ease-in-out, all 0.15s ease-in-out;
    @include transition(0.15s, all);
  }
}
