.settings {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 5%;
    left: 90%;
    transform-origin: center;
    @include transition(all 0.25s);
    z-index: 9;
    .fa.fa-cog {
        font-size: 2rem;
    }
    &:before {
      // content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      /* border: 1px solid blanchedalmond; */
      background: #4cbc06;
      z-index: -40;
      // transform: rotate(45deg);
      // transform-origin: bottom left;
      // z-index: -1;
    }
    &:hover {
        transform: rotate(90deg);
        // +.sidebar {
        //     transform: translateX(0);
        // }
    }
  }