#{$outer-wrapper} {
  .settings {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    transition: all 0.25s;
    z-index: 9;
    margin: 10px 10px 0 0;

    .fa.fa-cog {
      font-size: 1.5rem;
    }
    &:before {
      // content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      /* border: 1px solid blanchedalmond; */
      background: #4cbc06;
      z-index: -40;
      // transform: rotate(45deg);
      // transform-origin: bottom left;
      // z-index: -1;
    }
    &:hover {
      transform: rotate(90deg);
      // +.sidebar {
      //     transform: translateX(0);
      // }
    }
  }

  // open
  #{$open} {
    .settings {
    }
  }
}
