#{$outer-wrapper} {
  .settings {
    z-index: 99;
    position: absolute;
    top: 1.3%;
    right: 1%;
    margin: 0;
    width: 2rem;
    padding: 0;
    .fa.fa-cog {
      transition: all 0.25s;
      font-size: 2rem;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  // open
  &#{$open} {
    .settings {
      .fa.fa-cog {
        transform: rotate(90deg);
      }
    }
  }
}
