.sidebar {
  @include transition(all 0.25s);
  height: 100%;
  width: 33.3%;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translateX(100%);
  opacity: 0;
  z-index: 20;

  &:before {
    // content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border: 1px solid blanchedalmond;
    position: absolute;
    top: 90%;
    left: 20px;
    height: 30%;
    width: 20px;
    background: black;
    transform: skewY(-45deg);
    transform-origin: bottom left;
    z-index: -1;
  }
}
