// .fire
// background-position: bottom center;
// light ring
// background-image: url("https://c.pxhere.com/photos/88/b3/fireworks_night_celebration_new_year_party_event_light-725512.jpg!a");
// candles
// background-image: url("https://c.pxhere.com/photos/0d/48/candle_flame_flame_fire_light_burn_wax_candle_candlelight_heat-1058201.jpg!a");

// .midnight
// https://c.pxhere.com/photos/13/41/milky_way_stars_night_sky_landscape_scenic_galaxy_space-674805.jpg!d
// https://c.pxhere.com/photos/f9/a8/planet_moon_space_space_travel_universe_all_astronomy_sky-1068224.jpg!d
// https://get.pxhere.com/photo/sky-night-star-milky-way-atmosphere-galaxy-outer-space-astronomy-midnight-astronomical-object-175288.jpg

// .ocean
// https://c.pxhere.com/photos/6a/14/beach_dawn_dusk_ocean_sea_seascape_sun_sunrise-1364695.jpg!d

// .storm
// https://get.pxhere.com/photo/night-city-weather-storm-lightning-thunder-thunderstorm-phenomenon-city-at-night-flashes-1023959.jpg
// https://c.pxhere.com/photos/65/cf/barn_lightning_bolt_storm_thunderstorm_clouds_night_shack-804994.jpg!a
// https://c.pxhere.com/photos/7a/92/lightning_storm_arizona_monsoon_lightning_storm_electricity_weather_sky-1323288.jpg!d
// https://c.pxhere.com/photos/0b/18/tree_storm_sky_lightning_rain_weather_nature_danger-1023510.jpg!d
// https://c.pxhere.com/photos/e7/d6/cloud_water_sea_ocean_lightning-39263.jpg!d

// .jungle
// https://c.pxhere.com/photos/ca/61/bamboo_damyang_sunshine-1100731.jpg!d

$fire_url: url("https://c.pxhere.com/photos/88/b3/fireworks_night_celebration_new_year_party_event_light-725512.jpg!a");
$midnight_url: url("https://get.pxhere.com/photo/sky-night-star-milky-way-atmosphere-galaxy-outer-space-astronomy-midnight-astronomical-object-175288.jpg");
$ocean_url: url("https://c.pxhere.com/photos/6a/14/beach_dawn_dusk_ocean_sea_seascape_sun_sunrise-1364695.jpg!d");
$storm_url: url("https://get.pxhere.com/photo/night-city-weather-storm-lightning-thunder-thunderstorm-phenomenon-city-at-night-flashes-1023959.jpg");
$jungle_url: url("https://c.pxhere.com/photos/ca/61/bamboo_damyang_sunshine-1100731.jpg!d");
$themes: (
  fire: (
    backgroundColor: $fire_bg,
    backgroundUrl: $fire_url,
    textColor: $fire_color,
    borderColor: $fire_border,
    menuIconBackgroundColor: darken($fire_bg, 5%),
    menuIconBackgroundHoverColor: darken($fire_bg, 10%),
    menuIconBorderColor: $fire_border,
    iconBarColor: $fire_color,
    sidebarBackground: transparentize($fire_bg, 0.2),
    sidebarBorderColor: $fire_border,
    sidebarKeyboardBackground: $fire_bg,
    sidebarKeyboardHoverBackground: darken($fire_bg, 5%),
    keyboardBackgroundColor: darken($fire_bg, 5%),
    keyboardItemBackgroundColor: $fire_bg,
    keyboardItemBackgroundHoverColor: lighten($fire_bg, 10%),
    keyboardTextColor: $fire_color,
    keyboardBackground: transparentize(darken($fire_bg, 10%), 0.5),
    keyboardBorderColor: $fire_border,
    primaryButtonBgColor: $fire_btn_bg,
    primaryButtonTextColor: $fire_btn_color,
    primaryButtonBorderColor: $fire_btn_border,
    primaryButtonHoverColor: darken($fire_btn_bg, 5%),
    primaryButtonActiveColor: darken($fire_btn_bg, 10%),
    primaryButtonBoxShadowColor: darken(transparentize($fire_btn_bg, 0.5), 10%),
    primaryButtonTextTransform: none,
    secondaryButtonBgColor: complement($fire_btn_bg),
    secondaryButtonTextColor: complement($fire_btn_color),
    secondaryButtonBorderColor: complement($fire_btn_border),
    secondaryButtonHoverColor: darken(complement($fire_btn_bg), 5%),
    secondaryButtonActiveColor: darken(complement($fire_btn_bg), 10%),
    secondaryButtonBoxShadowColor:
      darken(transparentize(complement($fire_btn_bg), 0.5), 10%),
    secondaryButtonTextTransform: none,
  ),
  midnight: (
    backgroundColor: $midnight_bg,
    backgroundUrl: $midnight_url,
    textColor: $midnight_color,
    borderColor: $midnight_border,
    menuIconBackgroundColor: darken($midnight_bg, 5%),
    menuIconBackgroundHoverColor: darken($midnight_bg, 10%),
    menuIconBorderColor: $midnight_border,
    iconBarColor: $midnight_color,
    sidebarBackground: transparentize($midnight_bg, 0.2),
    sidebarBorderColor: $midnight_border,
    sidebarKeyboardBackground: $midnight_bg,
    sidebarKeyboardHoverBackground: darken($midnight_bg, 5%),
    keyboardBackgroundColor: darken($midnight_bg, 5%),
    keyboardItemBackgroundColor: $midnight_bg,
    keyboardItemBackgroundHoverColor: lighten($midnight_bg, 10%),
    keyboardTextColor: $midnight_color,
    keyboardBackground: transparentize(lighten($midnight_bg, 5%), 0.5),
    keyboardBorderColor: $midnight_border,
    primaryButtonBgColor: $midnight_btn_bg,
    primaryButtonTextColor: $midnight_btn_color,
    primaryButtonBorderColor: $midnight_btn_border,
    primaryButtonHoverColor: darken($midnight_btn_bg, 5%),
    primaryButtonActiveColor: darken($midnight_btn_bg, 10%),
    primaryButtonBoxShadowColor:
      darken(transparentize($midnight_btn_bg, 0.5), 10%),
    primaryButtonTextTransform: none,
    secondaryButtonBgColor: complement($midnight_btn_bg),
    secondaryButtonTextColor: complement($midnight_btn_color),
    secondaryButtonBorderColor: complement($midnight_btn_border),
    secondaryButtonHoverColor: darken(complement($midnight_btn_bg), 5%),
    secondaryButtonActiveColor: darken(complement($midnight_btn_bg), 10%),
    secondaryButtonBoxShadowColor:
      darken(transparentize(complement($midnight_btn_bg), 0.5), 10%),
    secondaryButtonTextTransform: none,
  ),
  ocean: (
    backgroundColor: $ocean_bg,
    backgroundUrl: $ocean_url,
    textColor: $ocean_color,
    borderColor: $ocean_border,
    menuIconBackgroundColor: darken($ocean_bg, 5%),
    menuIconBackgroundHoverColor: darken($ocean_bg, 10%),
    menuIconBorderColor: $ocean_border,
    iconBarColor: $ocean_color,
    sidebarBackground: transparentize($ocean_bg, 0.2),
    sidebarBorderColor: $ocean_border,
    sidebarKeyboardBackground: $ocean_bg,
    sidebarKeyboardHoverBackground: darken($ocean_bg, 5%),
    keyboardBackgroundColor: darken($ocean_bg, 5%),
    keyboardItemBackgroundColor: $ocean_bg,
    keyboardItemBackgroundHoverColor: lighten($ocean_bg, 10%),
    keyboardTextColor: $ocean_color,
    keyboardBackground: transparentize(darken($ocean_bg, 5%), 0.5),
    keyboardBorderColor: $ocean_border,
    primaryButtonBgColor: $ocean_btn_bg,
    primaryButtonTextColor: $ocean_btn_color,
    primaryButtonBorderColor: $ocean_btn_border,
    primaryButtonHoverColor: darken($ocean_btn_bg, 5%),
    primaryButtonActiveColor: darken($ocean_btn_bg, 10%),
    primaryButtonBoxShadowColor: darken(transparentize($ocean_btn_bg, 0.5), 10%),
    primaryButtonTextTransform: none,
    secondaryButtonBgColor: complement($ocean_btn_bg),
    secondaryButtonTextColor: lighten(complement($ocean_btn_color), 10%),
    secondaryButtonBorderColor: complement($ocean_btn_border),
    secondaryButtonHoverColor: darken(complement($ocean_btn_bg), 5%),
    secondaryButtonActiveColor: darken(complement($ocean_btn_bg), 10%),
    secondaryButtonBoxShadowColor:
      darken(transparentize(complement($ocean_btn_bg), 0.5), 10%),
    secondaryButtonTextTransform: none,
  ),
  storm: (
    backgroundColor: $storm_bg,
    backgroundUrl: $storm_url,
    textColor: $storm_color,
    borderColor: $storm_border,
    menuIconBackgroundColor: darken($storm_bg, 5%),
    menuIconBackgroundHoverColor: darken($storm_bg, 10%),
    menuIconBorderColor: $storm_border,
    iconBarColor: $storm_color,
    sidebarBackground: transparentize($storm_bg, 0.2),
    sidebarBorderColor: $storm_border,
    sidebarKeyboardBackground: $storm_bg,
    sidebarKeyboardHoverBackground: darken($storm_bg, 5%),
    keyboardBackgroundColor: darken($storm_bg, 5%),
    keyboardItemBackgroundColor: $storm_bg,
    keyboardItemBackgroundHoverColor: lighten($storm_bg, 10%),
    keyboardTextColor: $storm_color,
    keyboardBackground: transparentize(lighten($storm_bg, 10%), 0.5),
    keyboardBorderColor: $storm_border,
    primaryButtonBgColor: $storm_btn_bg,
    primaryButtonTextColor: $storm_btn_color,
    primaryButtonBorderColor: $storm_btn_border,
    primaryButtonHoverColor: darken($storm_btn_bg, 5%),
    primaryButtonActiveColor: darken($storm_btn_bg, 10%),
    primaryButtonBoxShadowColor: darken(transparentize($storm_btn_bg, 0.6), 10%),
    primaryButtonTextTransform: none,
    secondaryButtonBgColor: complement($storm_btn_bg),
    secondaryButtonTextColor: complement($storm_btn_color),
    secondaryButtonBorderColor: complement($storm_btn_border),
    secondaryButtonHoverColor: darken(complement($storm_btn_bg), 5%),
    secondaryButtonActiveColor: darken(complement($storm_btn_bg), 10%),
    secondaryButtonBoxShadowColor:
      darken(transparentize(complement($storm_btn_bg), 0.6), 10%),
    secondaryButtonTextTransform: none,
  ),
  jungle: (
    backgroundColor: $jungle_bg,
    backgroundUrl: $jungle_url,
    textColor: $jungle_color,
    borderColor: $jungle_border,
    menuIconBackgroundColor: darken($jungle_bg, 5%),
    menuIconBackgroundHoverColor: darken($jungle_bg, 10%),
    menuIconBorderColor: $jungle_border,
    iconBarColor: $jungle_color,
    sidebarBackground: transparentize($jungle_bg, 0.2),
    sidebarBorderColor: $jungle_border,
    sidebarKeyboardBackground: $jungle_bg,
    sidebarKeyboardHoverBackground: darken($jungle_bg, 5%),
    keyboardBackgroundColor: darken($jungle_bg, 5%),
    keyboardItemBackgroundColor: $jungle_bg,
    keyboardItemBackgroundHoverColor: lighten($jungle_bg, 10%),
    keyboardTextColor: $jungle_color,
    keyboardBackground: transparentize(lighten($jungle_bg, 10%), 0.5),
    keyboardBorderColor: $jungle_border,
    primaryButtonBgColor: $jungle_btn_bg,
    primaryButtonTextColor: $jungle_btn_color,
    primaryButtonBorderColor: $jungle_btn_border,
    primaryButtonHoverColor: darken($jungle_btn_bg, 5%),
    primaryButtonActiveColor: darken($jungle_btn_bg, 10%),
    primaryButtonTextTransform: none,
    primaryButtonBoxShadowColor:
      darken(transparentize($jungle_btn_bg, 0.5), 10%),
    secondaryButtonBgColor:
      adjust-color(darken($jungle_btn_bg, 15%), $green: -90),
    secondaryButtonTextColor: lighten($jungle_btn_color, 35%),
    secondaryButtonBorderColor: darken($jungle_btn_border, 15%),
    secondaryButtonHoverColor: darken($jungle_btn_bg, 5%),
    secondaryButtonActiveColor: darken($jungle_btn_bg, 10%),
    secondaryButtonBoxShadowColor:
      darken(transparentize(complement($jungle_btn_bg), 0.5), 10%),
    secondaryButtonTextTransform: none,
  ),
);

// @import "themes.scss";

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .#{$theme}.calculator {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$open: ".open";
$picture: ".picture";
$color: ".color";

#calculator {
  > .container {
    &#{$picture} {
      @include themify($themes) {
        // background-position: bottom center;
        // light ring
        background-image: themed(backgroundUrl);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        // candles
        // background-image: url("https://c.pxhere.com/photos/0d/48/candle_flame_flame_fire_light_burn_wax_candle_candlelight_heat-1058201.jpg!a");

        // background-url: themed(backgroundColor);
        // border-color: themed(borderColor);
      }
      .numberKeyboard, .functionKeyboard {
        background-color: #faebd729;
      }
    }
  }
}
#calculator {
  > .container {
    @include themify($themes) {
      background-color: themed(backgroundColor);
      border-color: themed(borderColor);
      .title {
        color: themed(textColor);
      }

      .menu-icon {
        background-color: themed(menuIconBackgroundColor);
        border-color: themed(menuIconBorderColor);

        &:hover {
          background-color: themed(menuIconBackgroundHoverColor);
          transform: scale(1.05);
        }
      }
      .icon-bar {
        background-color: themed(iconBarColor);
      }
      transition: all 0.25s;
    }
    &#{$open} {
      @include themify($themes) {
        .menu-icon {
          transform-origin: center;
          transform: translate(-300%, 0%) scale(1.05);
          background-color: themed(menuIconBackgroundHoverColor);
        }
      }
    }
    @include themify($themes) {
      + .sidebar {
        background: themed(sidebarBackground);
        border-color: themed(sidebarBorderColor);
        // transition: .15s all;
        .title {
          color: themed(textColor);
        }
        .btn-keyboard {
          background: themed(sidebarKeyboardBackground);
          color: themed(textColor);
          border-color: themed(borderColor);
          &:hover {
            background: themed(sidebarKeyboardHoverBackground);
          }
        }
        .keyboard {
          transition-duration: 0.05s;
          background-color: themed(keyboardBackground);
          border-color: themed(keyboardBorderColor);
        }
      }
    }

    &#{$open} {
      @include themify($themes) {
        + .sidebar {
          z-index: 2;
          transform: scaleX(1);
          transform-origin: right;
          > div:first-of-type,
          .keyboard {
            border-radius: 4px;
            $kb-bg: themed(keyboardBackground);
            background-color: rgba($kb-bg, 0.1);
            border-color: themed(keyboardBorderColor);
            border: none;
            .keyboard-menu {
              background-color: themed(keyboardBackgroundColor);
              border: 1px solid rgba(0, 0, 0, 0.15);
              color: themed(keyboardTextColor);
              padding: 0;
              .keyboard-item {
                background-color: themed(keyboardItemBackgroundColor);
                color: themed(keyboardTextColor);
                margin: 2px 0;
                &:hover {
                  background-color: themed(keyboardItemBackgroundHoverColor);
                }
              }
            }
          }
        }
      }
    }
    @include themify($themes) {
      //buttons
      $btn-primary-bg-color: themed(primaryButtonBgColor);
      $btn-primary-text-color: themed(primaryButtonTextColor);
      $btn-primary-border-color: themed(primaryButtonBorderColor);
      .btn-primary {
        background-color: themed(primaryButtonBgColor);
        color: themed(primaryButtonTextColor);
        border-color: themed(primaryButtonBorderColor);
        &:hover,
        &:focus {
          background-color: themed(primaryButtonHoverColor);
        }
        &:focus {
          box-shadow: 0 0 0 0.1rem themed(primaryButtonBoxShadowColor);
        }
        &:active {
          background-color: themed(primaryButtonActiveColor);
        }
        &.btn-error {
          background-color: darken($btn-primary-bg-color, 15%);
          color: darken($btn-primary-text-color, 50%);
          border-color: darken($btn-primary-border-color, 90%);
        }
      }
      $btn-secondary-bg-color: themed(secondaryButtonBgColor);
      $btn-secondary-text-color: themed(secondaryButtonTextColor);
      $btn-secondary-border-color: themed(secondaryButtonBorderColor);
      .btn-secondary {
        background-color: themed(secondaryButtonBgColor);
        color: themed(secondaryButtonTextColor);
        border-color: themed(secondaryButtonBorderColor);
        &:hover,
        &:focus {
          background-color: themed(secondaryButtonHoverColor);
        }
        &:focus {
          box-shadow: 0 0 0 0.1rem themed(secondaryButtonBoxShadowColor);
        }
        &:active {
          background-color: themed(secondaryButtonActiveColor);
        }
        &.btn-error {
          background-color: darken($btn-secondary-bg-color, 15%);
          color: darken($btn-secondary-text-color, 50%);
          border-color: darken($btn-secondary-border-color, 90%);
        }
      }
      $btn-danger-bg-color: #dc3545;
      .btn-danger {
        color: #fff;
        background-color: $btn-danger-bg-color;
        border-color: #dc3545;
        &:hover,
        &:focus {
          color: #fff;
          background-color: #bb2d3b;
          border-color: #b02a37;
        }
        &:focus {
          box-shadow: 0 0 0 0.1rem rgb(225 83 97 / 50%);
        }
        &:active {
          color: #fff;
          background-color: #b02a37;
          border-color: #a52834;
        }
        &.btn-error {
          background-color: darken($btn-danger-bg-color, 15%);
        }
        &.btn-use-me {
          border-color: #eddfe0;
          border-width: 2px;
          box-shadow: 0px 0px 9px 0px;
        }
      }
      $btn-success-bg-color: #198754;
      .btn-success {
        color: #fff;
        background-color: $btn-success-bg-color;
        border-color: #198754;
        &:hover,
        &:focus {
          color: #fff;
          background-color: #157347;
          border-color: #146c43;
        }
        &:focus {
          box-shadow: 0 0 0 0.1rem rgb(60 153 110 / 50%);
        }
        &:active {
          color: #fff;
          background-color: #146c43;
          border-color: #13653f;
        }
        &.btn-error {
          background-color: darken($btn-success-bg-color, 15%);
        }
      }
    }
  }
}
