$open: ".open";
$picture: ".picture";
$still: ".still";
$moving: ".moving";
$showing: ".showing";
$color: ".color";
$animation: ".animation";
$selected: ".selected";
$outer-wrapper: "#calculator > .container";
$i: #{"!"}important;

$grid-breakpoints: (
  xxxxs: 0,
  xxxs: 380px,
  xxs: 480px,
  xs: 580px,
  sm: 767px,
  md: 992px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1600px,
);
