#{$outer-wrapper} {
  max-width: 720px;
  position: relative;
  .calculator {
    display: flex;
    position: relative;
    border-radius: $s-05r;
    border: 3px solid;
    @include transition(all 0.25s);
    z-index: 1;
    transform-origin: 0;
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    .title {
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 100;
      margin: 10px 20px;
    }
  }
  // &#{$open} {
  //   .calculator {
  //     // border-radius: $s-04r 0 0 $s-04r;
  //     transform: matrix3d(1, 0, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  //   }
  // }
  &#{$picture} {
    .calculator {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}
