#{$outer-wrapper} {
  position: relative;

  .calculator {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: 0;
    display: flex;
    border: 3px solid;
    @include transition(all 0.25s);
    transform-origin: 0;
    padding: 10px;
    z-index: 1;

    .title {
      font-size: clamp(2rem, 4vw, 3rem);
      line-height: 3rem;
      font-weight: 400;
      margin: 0;
    }
  }

  &#{$picture} {
    .calculator {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}