canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
  border-radius: $s-05r;
  border: 3px solid;
}

#calculator > .container.anim.open .calculator {
  background: none$i;
  // border-width: 0$i;
  canvas {
  }
}
