.calculator {
  .main-keyboards {
    display: flex;
    justify-content: space-between;
    .keyboard {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

