.calculator {
  .main-keyboards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    opacity: 1;
    transition: all .25s ease;

    .keyboard {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: 100%;

    }

    &.hidden {
      // opacity: 0;
      // height: 0;
      // display: none;

      .keyboard {}
    }
  }

  .setting-wrapper {

    .keyboard {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .btn {}
    }
  }
}