.calculator {
  .keyboard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.sidebar {
  .keyboard {
    z-index: 4;
    height: 20%;
    border: 0;
    @include transition(all 0.25s ease);
    position: relative;
    padding: 0;
    margin: 0;
    // transform: rotate(0deg);
  }
}

