// buttons
.calculator {
  .keyboard {
    .btn {
      aspect-ratio: 1/1;
      padding: 0;
      // width: clamp(3.5rem, 8vw, 10rem);
      width: clamp(5rem, 11vw, 10rem);
      min-width: unset;
      font-size: clamp(2.5rem, 4vw, 4rem);
    }

    .main-btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn {
        margin: 5px;
        align-items: center;
        justify-content: center;
        @include transition(all 0.25s);
      }

      p.btn-subtitle {
        position: relative;
        top: -42px;
        height: 0;
        font-size: clamp(1.1rem, 1.5vw, 2rem);
      }
    }

    .btn-lg {}
  }
}

.settings {
  .settings-btn-title {
    font-family: unset;
  }

  .setting-wrapper {

    .keyboard {
      .btn {
        aspect-ratio: unset;
      }
    }
  }

  .keyboard-theme {
    .btn-theme {}

    .btn-fire {
      background-color: $fire_bg;
      color: $fire_color;
      border-color: $fire_border;

      &:hover,
      &:focus {
        background-color: darken($fire_bg, 10%);
      }
    }

    .btn-midnight {
      background-color: $midnight_bg;
      color: $midnight_color;
      border-color: $midnight_border;

      &:hover,
      &:focus {
        background-color: lighten($midnight_bg, 10%);
      }
    }

    .btn-ocean {
      background-color: $ocean_bg;
      color: $ocean_color;
      border-color: $ocean_border;

      &:hover,
      &:focus {
        background-color: darken($ocean_bg, 10%);
      }
    }

    .btn-storm {
      background-color: $storm_bg;
      color: $storm_color;
      border-color: $storm_border;

      &:hover,
      &:focus {
        background-color: darken($storm_bg, 10%);
      }
    }

    .btn-jungle {
      background-color: $jungle_bg;
      color: $jungle_color;
      border-color: $jungle_border;

      &:hover,
      &:focus {
        background-color: darken($jungle_bg, 10%);
      }
    }
  }

  .keyboard {
    .btn {
      filter: grayscale(90%);
      @include transition(all 0.25s);
      padding: 0;
      // width: $btn-main-mob;
      // height: $btn-main-mob;
      // border-radius: $btn-main-mob-border-radius;
      min-width: 0;
      border: none$i;
      border-radius: none$i;
      background: none$i;

      &:hover,
      &:active {
        filter: grayscale(40%);
      }

      &.selected {
        filter: grayscale(0);
      }
    }
  }
}

@include themify($themes) {
  .btn-primary {
    background-color: themed(primaryButtonBgColor);
    color: themed(primaryButtonTextColor);

    border-color: themed(primaryButtonBorderColor);


    &:hover,
    &:focus {
      background-color: themed(primaryButtonHoverColor);
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem themed(primaryButtonBoxShadowColor);
    }

    &:active {
      background-color: themed(primaryButtonActiveColor);
    }

    &.btn-error {
      background-color: darken(themed(primaryButtonBgColor), 15%);
      color: darken(themed(primaryButtonTextColor), 50%);
      border-color: darken(themed(primaryButtonBorderColor), 90%);

      +p.btn-subtitle {
        color: darken(themed(primaryButtonTextColor), 50%)$i;
      }
    }
  }

  &#{$animation} {
    .btn-primary {
      background-color: transparentize(themed(primaryButtonBgColor), 0.2);
      color: darken(themed(primaryButtonTextColor), 10%);

      &:hover,
      &:focus {
        background-color: transparentize(themed(primaryButtonBgColor), 0.05);
      }
    }
  }
}

@include themify($themes) {
  &#{$picture} {
    .btn-primary {
      background-color: transparentize(themed(primaryButtonBgColor), .35);
    }

    .btn-secondary {
      background-color: transparentize(themed(secondaryButtonBgColor), .35);
    }

    .btn-danger {
      background-color: transparentize($btn-danger-bg-color, .35);
    }

    .btn-success {
      background-color: transparentize($btn-success-bg-color, .35);
    }

  }

  .btn-secondary {
    background-color: themed(secondaryButtonBgColor);
    color: themed(secondaryButtonTextColor);
    border-color: themed(secondaryButtonBorderColor);

    &:hover,
    &:focus {
      background-color: themed(secondaryButtonHoverColor);
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem themed(secondaryButtonBoxShadowColor);
    }

    &:active {
      background-color: themed(secondaryButtonActiveColor);
    }

    &.btn-error {
      background-color: darken(themed(secondaryButtonBgColor), 15%);
      color: darken(themed(secondaryButtonTextColor), 50%);
      border-color: darken(themed(secondaryButtonBorderColor), 90%);

      +p.btn-subtitle {
        color: darken(themed(secondaryButtonTextColor), 50%)$i;
      }
    }
  }

  &#{$animation} {
    .btn-secondary {
      background-color: transparentize(darken(themed(secondaryButtonBgColor), 10%),
          0.15);

      &:hover,
      &:focus {
        background-color: transparentize(themed(secondaryButtonHoverColor),
            0.05);
      }
    }
  }

  .main-btn-wrapper {
    .btn.btn-danger+p.btn-subtitle {
      color: themed(secondaryButtonTextColor);
      color: #fff;
    }
  }

  .btn-danger {
    color: #fff;
    background-color: $btn-danger-bg-color;
    border-color: #dc3545;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($btn-danger-bg-color, 15%);
      border-color: #b02a37;
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem rgb(225 83 97 / 50%);
    }

    &:active {
      color: #fff;
      background-color: #b02a37;
      border-color: #a52834;
    }

    &.btn-error {
      background-color: darken($btn-danger-bg-color, 15%);
      color: darken(themed(secondaryButtonTextColor), 50%);
      border-color: darken(themed(secondaryButtonBorderColor), 90%);

      +p.btn-subtitle {
        color: darken(themed(secondaryButtonTextColor), 50%)$i;
      }

    }

    &.btn-use-me {
      border-color: lighten($btn-danger-bg-color, 35%);
      border-width: 2px;
      box-shadow: 0 0 9px 0 lighten($btn-danger-bg-color, 15%);
    }
  }

  .btn-success {
    color: #fff;
    background-color: $btn-success-bg-color;
    border-color: #198754;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($btn-success-bg-color, 5%);
      border-color: #146c43;
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem rgb(60 153 110 / 50%);
    }

    &:active {
      color: #fff;
      background-color: #146c43;
      border-color: #13653f;
    }

    &.btn-error {
      background-color: darken($btn-success-bg-color, 15%);
      color: darken(themed(secondaryButtonTextColor), 50%);
      border-color: darken(themed(secondaryButtonBorderColor), 90%);

      +p.btn-subtitle {
        color: darken(themed(secondaryButtonTextColor), 50%)$i;
      }
    }
  }

  &#{$animation} {
    .btn-success {
      background-color: transparentize(darken($btn-success-bg-color, 10%),
          0.15);

      &:hover,
      &:focus {
        background-color: transparentize(darken($btn-success-bg-color, 5%),
            0.15);
      }
    }

    .btn-danger {
      background-color: transparentize(darken($btn-danger-bg-color, 20%), 0.15);

      &:hover,
      &:focus {
        background-color: transparentize(darken($btn-danger-bg-color, 10%),
            0.15);
      }
    }
  }
}

#{$outer-wrapper} {
  &#{$picture} {

    // sizes
    .sidebar {
      .keyboard {
        .btn-theme-type:nth-of-type(1) {}
      }
    }
  }
}

// colors
@include themify($themes) {
  .keyboard {
    .main-btn-wrapper {
      .btn {
        //
      }

      .btn-primary+p.btn-subtitle {
        color: themed(primaryButtonTextColor);
      }

      .btn-secondary+p.btn-subtitle {
        color: themed(secondaryButtonTextColor);
      }
    }
  }

}