@use "sass:math";

/* A map of breakpoints.
  $breakpoints: (
  xxxxs: 0,
  xxxs: 380px,
  xxs: 480px,
  xs: 580px,
  sm: 767px,
  md: 992px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1600px,
  );
*/
@mixin respond-above($bp) {
  @if map-has-key($grid-breakpoints, $bp) {
    $bp-val: map-get($grid-breakpoints, $bp);

    @media (min-width: $bp-val) {
      @content;
    }
  }

  @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$bp}.';
  }
}

/*  usage 
@include respond-above(xs) {
  styles here
}
*/
@mixin respond-below($bp) {
  @if map-has-key($grid-breakpoints, $bp) {
    $bp-val: map-get($grid-breakpoints, $bp);

    @media (max-width: $bp-val) {
      @content;
    }
  }

  @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$bp}.';
  }
}

@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($grid-breakpoints, $lower) and map-has-key($grid-breakpoints, $upper) {
    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($grid-breakpoints, $lower);
    $upper-breakpoint: map-get($grid-breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

    // If one or both of the breakpoints don't exist.
  }

  @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($grid-breakpoints, $lower)==false) {
      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($grid-breakpoints, $upper)==false) {
      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

@mixin orientation($direction) {
  $orientation-landscape: "(orientation:landscape)";
  $orientation-portrait: "(orientation:portrait)";

  @if $direction ==landscape {
    @media #{$orientation-landscape} {
      @content;
    }
  }

  @if $direction ==portrait {
    @media #{$orientation-portrait} {
      @content;
    }
  }
}

///////////// ///////////// /////////////
/////////// basic structure  ////////////
///////////// ///////////// /////////////
/////// xs: 580px
/////// open
@include respond-below(xs) {
  #{$outer-wrapper} {
    & {}

    //sizes here
    // closed
    .calculator {}

    .settings {}

    .sidebar {}

    &#{$open} {
      .calculator {}

      .settings {}

      .sidebar {}
    }
  }
}

///////////// ///////////// /////////////
/////////// generic section /////////////
///////////// ///////////// /////////////

///////////// both portrait and landscape
///////md: 992px
@include respond-below(md) {
  #{$outer-wrapper} {
    & {}

    //sizes here
    // closed
    div.calculator {
      border-radius: 0;
    }

    .settings {}

    .sidebar {
      border-radius: 0;
    }

    &#{$open} {
      .calculator {}

      .settings {}

      .sidebar {}
    }
  }
}

///////////// ///////////// /////////////
/////////// portrait section ////////////
///////////// ///////////// /////////////

///////////// portrait
/////// xxxs: 380px
@include respond-below(xxxs) {
  #{$outer-wrapper} {
    p.settings {
      top: 0;
      right: -0.25rem;

      .cog {
        font-size: 1rem;
      }
    }

    div.calculator {
      >p.title {}

      div.keyboard {
        button.btn {
          min-width: 50px;
          margin: 5px;
          font-size: 1.5rem;

          &.btn-lg {}
        }
      }
    }

    .sidebar {
      .keyboard {
        height: 28%;

        p.sidebar-kb-title {
          font-size: 1rem;
        }

        p.sidebar-btn-title {
          font-weight: 300;
          font-size: 0.8rem;
          line-height: 1;
        }

        button {
          width: 40px;
          height: 40px;
        }
      }
    }

    &#{$open} {}
  }

  #{$outer-wrapper} {}
}

@include respond-below(md) {
  @include orientation(landscape) {}
}

///////////// portrait
/////// xxs: 480px
@include respond-below(xxs) {
  #{$outer-wrapper} {
    canvas {
      border-radius: 0
    }

    div.calculator {
      .settings {
        .cog {}
      }

      >p.title {}

      div.keyboard {
        .btn {
          font-size: 1.8rem;
          height: $btn-main-mob;
          width: $btn-main-mob;
          margin: 5px;
        }
      }
    }

    .sidebar {
      .keyboard {
        button {
          border-radius: $btn-main-mob-border-radius;
        }
      }
    }

    &#{$open} {}
  }

  #{$outer-wrapper} {}
}

///////////// portrait
/////// xs: 580px
@include respond-below(xs) {
  #{$outer-wrapper} {
    div.calculator {

      // max-width: unset;
      // width: $ps-1;
      // position: fixed;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
      .settings {
        .cog {
          font-size: 1.6rem;
        }
      }

      >p.title {
        font-size: 2rem;
        line-height: 1rem;
        margin: 15px 5px;
      }

      .keyboard {
        .btn {
          height: $btn-main-mob;
          width: $btn-main-mob;
          margin: 8px;
          font-size: 2rem;
        }
      }
    }

    .sidebar {
      .keyboard {
        button {}
      }
    }

    &#{$open} {}
  }

  #{$outer-wrapper} {}
}

///////////// portrait
/////// sm: 767px
@include respond-below(sm) {
  #{$outer-wrapper} {
    & {
      margin-top: 0;
    }

    // sizes here
    div.calculator {
      >.title {}

      .display {
        .calculation {}

        .result,
        .result-error {}

        p {}
      }

      .keyboard {
        justify-content: space-evenly;

        button {}
      }
    }

    .sidebar {
      >.title {
        font-size: 3rem;
        margin-top: -1.5rem;
      }

      .keyboard {
        justify-content: space-around;

        button {
          padding: 0;
        }
      }

      .keyboard-theme-type {
        .btn-theme-type {}
      }

      .keyboard-theme {
        .btn-theme {}
      }

      .keyboard-animation {}

      .sidebar-keyboard-wrapper {}
    }
  }
}

///////////// portrait
/////// md: 992px
/////// open
@include respond-below(md) {
  #{$outer-wrapper} {
    & {
      max-width: unset$i;
    }

    div.calculator {
      max-width: unset;
      width: $ps-1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .sidebar {
      width: $ps-1;
      position: fixed;
      top: 0;
      left: $ps-1;
      right: 0;
      bottom: 0;
    }

    &#{$open} {

      //sizes here
      div.calculator {}

      .sidebar {
        left: 0;
      }
    }
  }
}

///////////// ///////////// /////////////
/////////// landscape section ///////////
///////////// ///////////// /////////////

///////////// landscape
///////md: 992px

@include respond-below(md) {
  @include orientation(landscape) {
    :root {
      font-size: 12px;
    }

    body {
      margin: 0;
    }

    #{$outer-wrapper} {
      & {
        margin: 0;
        padding: 0;
      }

      .settings {
        .cog {
          font-size: 1.5rem;
        }
      }

      div.calculator {
        max-width: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 0;

        p.title {
          font-size: 2rem;
          line-height: 1rem;
          margin: 13px 13px 5px;
          font-weight: 100;
        }

        .display {
          margin: 8px 6px 5px;
          padding: 5px;

          .calculation {
            font-size: 2rem;
            min-height: 2rem;
          }

          .result,
          .result-error {
            font-size: 2rem;
          }
        }

        .keyboard {
          .btn {
            margin: 5px 2rem 0;
            height: 2.6rem;
            width: 5rem;
          }
        }
      }

      div.sidebar {
        height: $ps-1;

        .keyboard {
          margin: $s-06r 0 0 0;
          padding-bottom: $s-1r;

          .sidebar_kb_title {
            line-height: 1;
          }

          .sidebar_btn_wrapper {
            p.sidebar_btn_title {
              line-height: 1;
            }
          }

          .btn {}
        }
      }
    }
  }

  #{$outer-wrapper} {
    &#{$open} {
      div.calculator {
        .keyboard {}
      }

      &#{$animation} {
        .sidebar {}
      }

      &#{$picture} {
        .sidebar {}
      }
    }
  }
}

///////////// landscape
/////// sm: 767px
@include respond-below(sm) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      & {
        width: $ps-1;
        margin-top: 0;
        padding-left: $s-1r$i;
        padding-right: $s-1r$i;
      }

      .settings {
        .cog {
          font-size: 1.5rem;
        }
      }

      div.calculator {
        max-width: none;

        p.title {
          font-size: 2rem;
          line-height: 1rem;
          margin: 13px 13px 5px;
          font-weight: 100;
        }

        .display {
          margin: 14px 13px 10px;
          padding: 0px 5px;

          .calculation {
            font-size: 2rem;
            min-height: 3rem;
          }

          .result,
          .result-error {
            font-size: 3rem;
          }
        }

        .keyboard {
          .btn {
            min-width: 0;
            margin: 5px;
            height: 3rem;
            width: 3rem;
            font-size: 1.5rem;
          }
        }
      }

      .sidebar {
        .keyboard {
          height: 27%;

          .btn-theme-type {}

          .btn-theme {}
        }
      }
    }
  }
}

///////////// landscape
/////// xs: 580px
@include respond-below(xs) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      & {
        width: $ps-1;
        margin-top: $s-05r$i;
        padding-left: $s-1r$i;
        padding-right: $s-1r$i;
      }

      .calculator {
        .title {
          font-size: 2rem;
          line-height: 1rem;
          margin: 13px 13px 0;
        }

        .display {
          margin: 14px 13px 10px;
          padding: 0px 5px;

          .calculation {
            font-size: 1.3rem;
            min-height: 2rem;
          }

          .result,
          .result-error {
            font-size: 1.8rem;
          }
        }
      }

      .sidebar {
        .keyboard {
          .btn-theme-type {}

          .btn-theme {}
        }
      }

      ///////////// landscape
      /////// xs: 580px
      /////// open
      &#{$open} {
        .calculator {}
      }
    }
  }
}

///////////// landscape
/////// xs: 580px
@include respond-below(xs) {
  @include orientation(landscape) {
    #{$outer-wrapper} {}
  }
}

///////////// landscape
/////// xxs: 480px
@include respond-below(xxs) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      div.calculator {
        .settings {
          .cog {}
        }

        >p.title {}

        div.keyboard {
          .btn {
            // min-width: inherit;
            margin: 5px;
            font-size: 1.8rem;
          }
        }
      }

      div.sidebar {
        .keyboard {
          height: 26%;

          p.sidebar-kb-title {
            font-size: 1.3rem;
          }

          p.sidebar-btn-title {
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 1;
          }

          button {
            width: 40px;
            height: 40px;
          }
        }
      }

      &#{$open} {}
    }

    #{$outer-wrapper} {}
  }
}

///////////// landscape
/////// xxxs: 380px
@include respond-below(xxxs) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      div.calculator {
        .settings {
          .cog {}
        }

        >p.title {}

        div.keyboard {
          button.btn {
            &.btn-lg {}
          }
        }
      }

      div.sidebar {
        .keyboard {
          height: 26%;

          p.sidebar-kb-title {
            font-size: 1.3rem;
          }

          p.sidebar-btn-title {
            font-weight: 300;
            font-size: 1rem;
            line-height: 1;
          }

          button {
            width: 40px;
            height: 40px;
          }
        }
      }

      &#{$open} {}
    }

    #{$outer-wrapper} {}
  }
}


/* ============================================== */
/* Smaller devices                                */
/* Android Landscape                      320x240 */
/* ============================================== */
@media screen and (min-width: 240px) and (max-width: 320px) {

  /* ADD YOUR CSS ADJUSTMENTS BELOW HERE */
  :root {
    font-size: 4px;
  }
}

/* ============================================== */
/* Smaller devices                                */
/* Android Portrait                       240x320 */
/* ============================================== */
@media screen and (max-width: 240px) {
  /* ADD YOUR CSS ADJUSTMENTS BELOW HERE */
  //
}