@use "sass:math";
// A map of breakpoints.
// $breakpoints: (
//   xs: 576px,
//   sm: 767px,
//   md: 992px,
//   lg: 1200px,
// );

@mixin respond-above($bp) {
  @if map-has-key($grid-breakpoints, $bp) {
    $bp-val: map-get($grid-breakpoints, $bp);

    @media (min-width: $bp-val) {
      @content;
    }
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$bp}.';
  }
}

/*  usage 
@include respond-above(xs) {
  styles here
}
*/
@mixin respond-below($bp) {
  @if map-has-key($grid-breakpoints, $bp) {
    $bp-val: map-get($grid-breakpoints, $bp);

    @media (max-width: $bp-val) {
      @content;
    }
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$bp}.';
  }
}

@mixin respond-between($lower, $upper) {
  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($grid-breakpoints, $lower) and
    map-has-key($grid-breakpoints, $upper)
  {
    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($grid-breakpoints, $lower);
    $upper-breakpoint: map-get($grid-breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

    // If one or both of the breakpoints don't exist.
  } @else {
    // If lower breakpoint is invalid.
    @if (map-has-key($grid-breakpoints, $lower) == false) {
      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($grid-breakpoints, $upper) == false) {
      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

@mixin orientation($direction) {
  $orientation-landscape: "(orientation:landscape)";
  $orientation-portrait: "(orientation:portrait)";

  @if $direction == landscape {
    @media #{$orientation-landscape} {
      @content;
    }
  }
  @if $direction == portrait {
    @media #{$orientation-portrait} {
      @content;
    }
  }
}

///////////// ///////////// /////////////
/////////// basic structure  ////////////
///////////// ///////////// /////////////
/////// open

@include respond-below(xs) {
  #{$outer-wrapper} {
    & {
    }
    //sizes here
    // closed
    .calculator {
    }
    .settings {
    }
    .sidebar {
    }
    &#{$open} {
      .calculator {
      }
      .settings {
      }
      .sidebar {
      }
    }
  }
  // colors here
  @include themify($themes) {
    // closed
    .calculator {
    }
    .settings {
    }
    .sidebar {
    }
    &#{$open} {
      .calculator {
      }
      .settings {
      }
      .sidebar {
      }
    }
  }
}

///////////// ///////////// /////////////
/////////// portrait section ////////////
///////////// ///////////// /////////////

///////////// portrait
/////// xs

@include respond-below(xs) {
  #{$outer-wrapper} {
    .calculator {
      .settings {
        i.fa-cog {
          font-size: 1.6rem;
        }
      }
      > p.title {
        font-size: 2rem;
        line-height: 1rem;
        margin: 15px 5px;
      }
      .keyboard {
        .btn {
          min-width: 40px;
          &.btn-lg {
            font-size: 1.5rem;
          }
        }
      }
    }
    .sidebar {
      .keyboard {
        button {
        }
      }
    }
    &#{$open} {
      .sidebar {
      }
      div.calculator {
        transform: matrix3d(
          1,
          0,
          0,
          0.0025,
          0,
          1,
          0,
          0,
          0,
          0,
          1,
          0,
          0,
          0,
          0,
          1
        );
      }
      .sidebar {
      }
    }
    // colors here
    @include themify($themes) {
    }
  }
  #{$outer-wrapper} {
  }
}

///////////// portrait
/////// sm - md

@include respond-between(sm, md) {
  #{$outer-wrapper} {
    & {
      margin-top: 0;
    }
    // sizes here
    .calculator {
      > .title {
      }
      .display {
        .calculation {
        }
        .result,
        .result_err {
        }
        p {
        }
      }
      .keyboard {
        border-radius: 1rem;
        justify-content: space-evenly;

        button {
        }
      }

      // colors here
      @include themify($themes) {
      }
    }
    .sidebar {
      > .title {
        font-size: 3rem;
        margin-top: -1.5rem;
      }
      .keyboard {
        display: flex;
        flex-direction: column;
        align-content: center;
        button {
          padding: 0;
        }
      }
      .keyboard-theme-type {
        .btn-theme-type {
        }
      }
      .keyboard-theme {
        .btn-theme {
        }
      }
      .sidebar-keyboard-wrapper {
        .circle {
          &:hover {
            .keyboard {
              .btn {
              }
            }
          }
        }
        .circle-1 {
          &:hover {
          }
        }

        .circle-2 {
          &:hover {
          }
        }
      }
    }
  }
}

///////////// portrait
/////// sm - md
/////// open

@include respond-between(sm, md) {
  #{$outer-wrapper} {
    &#{$open} {
      //sizes here
      .calculator {
      }
      .sidebar {
      }
      // colors here
      @include themify($themes) {
      }
    }
  }
}

///////////// ///////////// /////////////
/////////// landscape section ///////////
///////////// ///////////// /////////////

///////////// landscape
/////// xs
@include respond-below(xs) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      & {
        width: 100%;
        margin-top: $s-05r$i;
        padding-left: $s-1r$i;
        padding-right: $s-1r$i;
      }
      .calculator {
        transform: matrix3d(
          1,
          0,
          0,
          0.0025,
          0,
          1,
          0,
          0,
          0,
          0,
          1,
          0,
          0,
          0,
          0,
          1
        );
        .title {
          font-size: 2rem;
          line-height: 1rem;
          margin: 13px 13px 0;
        }
      }
      .sidebar {
        .keyboard {
          .btn-theme-type {
          }
          .btn-theme {
          }
        }
      }
    }
  }
}

///////////// landscape
/////// xs
/////// open
@include respond-below(xs) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      &#{$open} {
        .calculator {
        }
      }
    }
  }
}

///////////// landscape
/////// sm
@include respond-below(sm) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      & {
        width: 100%;
        margin-top: 0;
        padding-left: $s-1r$i;
        padding-right: $s-1r$i;
      }
      div.calculator {
        transform: matrix3d(
          1,
          0,
          0,
          0.0025,
          0,
          1,
          0,
          0,
          0,
          0,
          1,
          0,
          0,
          0,
          0,
          1
        );

        max-width: none;
        p.title {
          font-size: 2rem;
          line-height: 1rem;
          margin: 13px 13px 5px;
          font-weight: 100;
        }
        .settings {
          .fa.fa-cog {
            font-size: 1.5rem;
          }
        }
        .display {
          margin: 14px 13px 10px;
          padding: 0px 5px;
          .calculation {
            font-size: 1.3rem;
            min-height: 2rem;
          }
          .result,
          .result_err {
            font-size: 1.8rem;
          }
        }
        .keyboard {
          .btn {
            margin: 5px;
            width: auto;
            min-width: 40px;
            font-size: 1.5rem;
          }
        }
      }
      .sidebar {
        .keyboard {
          .btn-theme-type {
          }
          .btn-theme {
          }
        }
      }
    }
  }
}

@include respond-below(md) {
  @include orientation(portrait) {
    #{$outer-wrapper} {
    }
    #{$outer-wrapper} {
      &#{$open} {
        div.sidebar {
          height: 100%;
        }
      }
    }
  }
}

@include respond-below(md) {
  @include orientation(landscape) {
    body {
      margin: 0;
    }
    #{$outer-wrapper} {
      & {
        height: 100vh;
        width: 100%;
        max-width: unset !important;
        margin: 0;
        padding: 0;
      }
      div.calculator {
        max-width: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        border: 0;
        p.title {
          font-size: 2rem;
          line-height: 1rem;
          margin: 13px 13px 5px;
          font-weight: 100;
        }
        .settings {
          .fa.fa-cog {
            font-size: 1.5rem;
          }
        }
        .display {
          margin: 17px 6px;
          // padding: 0px 5px;
          .calculation {
            // font-size: 1.3rem;
            // min-height: 2rem;
          }
          .result,
          .result_err {
            // font-size: 1.8rem;
          }
        }
        .keyboard {
          .btn {
            margin: 7px;
            height: 3rem;
            width: 3rem;
            min-width: 40px;
            // font-size: 1.5rem;
          }
          &.keyboard-utility {
            .btn {
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
  #{$outer-wrapper} {
    &#{$open} {
      div.calculator {
        /* prettier-ignore */
        // transform: matrix3d(3, 0, 0, 0.002, 0, 3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3);
      }

      $circle-diam: 1rem;
      .sidebar {
        height: 100vh;
        .circle {
          height: $circle-diam;
          width: $circle-diam;
          &:after {
            height: $circle-diam * 1.333;
            width: $circle-diam * 1.333;
            top: -0.16rem;
            left: -0.16rem;
          }
        }
        div#circle1 {
          ~ .keyboard {
            @include on-circle(
              $item-count: 3,
              $circle-width: 100%,
              $circle-height: 100%,
              $circle-radius: 125%,
              $item-size: 2.25rem
            );
          }
        }
        #circle2 {
          ~ .keyboard {
            @include on-circle(
              $item-count: 5,
              $circle-width: 100%,
              $circle-height: 100%,
              $circle-radius: 125%,
              $item-size: 2.25rem
            );
          }
        }
      }
      &#{$anim} {
        .sidebar {
          div#circle3 {
            ~ .keyboard {
              @include on-circle(
                $item-count: 3,
                $circle-width: 100%,
                $circle-height: 100%,
                $circle-radius: 125%,
                $item-size: 2.25rem
              );
            }
          }
        }
      }

      &#{$picture} {
        .sidebar {
          div#circle3 {
            ~ .keyboard {
              @include on-circle(
                $item-count: 2,
                $circle-width: 100%,
                $circle-height: 100%,
                $circle-radius: 125%,
                $item-size: 2.25rem
              );
            }
          }
        }
      }

      .keyboard {
        .btn {
          min-width: 2rem;
          font-size: 0.8rem;
        }
      }
      // }//
    }
  }
}

// layout 2
@include respond-below(md) {
  @include orientation(landscape) {
    body {
      margin: 0;
    }
    #{$outer-wrapper} {
      & {
        height: 100vh;
        width: 100%;
        max-width: unset !important;
        margin: 0;
        padding: 0;
      }
      &#{$layout-2} {
        div.calculator {
          flex-direction: row;
          max-width: none;
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 0;
          border: 0;
          p.title {
            font-size: 2rem;
            line-height: 1rem;
            margin: 13px 13px 5px;
            font-weight: 100;
            width: 0;
          }
          .settings {
            .fa.fa-cog {
              font-size: 1.5rem;
            }
          }
          .display {
            margin: 17px 6px;
            margin: 50px 0px 10px;
            // padding: 0px 5px;
            width: 100%;
            height: fit-content;
            max-width: 50%;
            .calculation,
            .result,
            .result_err {
              overflow-wrap: anywhere;
            }
            .calculation {
              // font-size: 1.3rem;
              // min-height: 2rem;
            }
            .result,
            .result_err {
              // font-size: 1.8rem;
            }
          }
          .main-keyboards {
            margin: 50px 0;
          }
          .keyboard {
            .btn {
              margin: 7px;
              margin: 0 7px 10px;
              height: 3rem;
              width: 3rem;
              min-width: 40px;
              // font-size: 1.5rem;
            }
            &.keyboard-utility {
              flex-grow: 1;
              max-width: 200%;
              .btn {
                font-size: 1.7rem;
              }
            }
          }
        }
      }
    }
    #{$outer-wrapper} {
      &#{$open} &#{$layout-2} {
        div.calculator {
          /* prettier-ignore */
          // transform: matrix3d(3, 0, 0, 0.002, 0, 3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3);
        }

        $circle-diam: 1rem;
        .sidebar {
          height: 100vh;
          .circle {
            height: $circle-diam;
            width: $circle-diam;
            &:after {
              height: $circle-diam * 1.333;
              width: $circle-diam * 1.333;
              top: -0.16rem;
              left: -0.16rem;
            }
          }
          div#circle1 {
            ~ .keyboard {
              @include on-circle(
                $item-count: 3,
                $circle-width: 100%,
                $circle-height: 100%,
                $circle-radius: 125%,
                $item-size: 2.25rem
              );
            }
          }
          #circle2 {
            ~ .keyboard {
              @include on-circle(
                $item-count: 5,
                $circle-width: 100%,
                $circle-height: 100%,
                $circle-radius: 125%,
                $item-size: 2.25rem
              );
            }
          }
        }
        &#{$anim} {
          .sidebar {
            div#circle3 {
              ~ .keyboard {
                @include on-circle(
                  $item-count: 3,
                  $circle-width: 100%,
                  $circle-height: 100%,
                  $circle-radius: 125%,
                  $item-size: 2.25rem
                );
              }
            }
          }
        }

        &#{$picture} {
          .sidebar {
            div#circle3 {
              ~ .keyboard {
                @include on-circle(
                  $item-count: 2,
                  $circle-width: 100%,
                  $circle-height: 100%,
                  $circle-radius: 125%,
                  $item-size: 2.25rem
                );
              }
            }
          }
        }

        .keyboard {
          .btn {
            min-width: 2rem;
            font-size: 0.8rem;
          }
        }
        // }//
      }
    }
  }
}
