@use "sass:math";
// A map of breakpoints.
// $breakpoints: (
//   xs: 576px,
//   sm: 767px,
//   md: 992px,
//   lg: 1200px,
// );

@mixin respond-above($bp) {
  @if map-has-key($grid-breakpoints, $bp) {
    $bp-val: map-get($grid-breakpoints, $bp);

    @media (min-width: $bp-val) {
      @content;
    }
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$bp}.';
  }
}

/*  usage 
@include respond-above(xs) {
  styles here
}
*/
@mixin respond-below($bp) {
  @if map-has-key($grid-breakpoints, $bp) {
    $bp-val: map-get($grid-breakpoints, $bp);

    @media (max-width: $bp-val) {
      @content;
    }
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$bp}.';
  }
}

@mixin respond-between($lower, $upper) {
  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($grid-breakpoints, $lower) and
    map-has-key($grid-breakpoints, $upper)
  {
    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($grid-breakpoints, $lower);
    $upper-breakpoint: map-get($grid-breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

    // If one or both of the breakpoints don't exist.
  } @else {
    // If lower breakpoint is invalid.
    @if (map-has-key($grid-breakpoints, $lower) == false) {
      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($grid-breakpoints, $upper) == false) {
      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

@mixin orientation($direction) {
  $orientation-landscape: "(orientation:landscape)";
  $orientation-portrait: "(orientation:portrait)";

  @if $direction == landscape {
    @media #{$orientation-landscape} {
      @content;
    }
  }
  @if $direction == portrait {
    @media #{$orientation-portrait} {
      @content;
    }
  }
}

///////////// ///////////// /////////////
/////////// basic structure  ////////////
///////////// ///////////// /////////////
/////// open

@include respond-below(xs) {
  #{$outer-wrapper} {
    & {
    }
    //sizes here
    // closed
    .calculator {
    }
    .settings {
    }
    .sidebar {
    }
    &#{$open} {
      .calculator {
      }
      .settings {
      }
      .sidebar {
      }
    }
  }
  // colors here
  @include themify($themes) {
    // closed
    .calculator {
    }
    .settings {
    }
    .sidebar {
    }
    &#{$open} {
      .calculator {
      }
      .settings {
      }
      .sidebar {
      }
    }
  }
}

///////////// ///////////// /////////////
/////////// portrait section ////////////
///////////// ///////////// /////////////

///////////// portrait
/////// xs

@include respond-below(xs) {
  #{$outer-wrapper} {
    .calculator {
      > p.title {
        font-size: 2rem;
        line-height: 1rem;
        margin: 10px 0 0 3px;
      }
    }
    .settings {
      height: 2rem;
      width: 2rem;
    }
    .sidebar {
      .keyboard {
        button {
        }
      }
    }
    &#{$open} {
      .sidebar {
      }
      div.calculator {
        transform: matrix3d(
          1,
          0,
          0,
          0.0025,
          0,
          1,
          0,
          0,
          0,
          0,
          1,
          0,
          0,
          0,
          0,
          1
        );
      }
      .sidebar {
      }
    }
    // colors here
    @include themify($themes) {
    }
  }
  #{$outer-wrapper} {
  }
}

///////////// portrait
/////// sm - md

@include respond-between(sm, md) {
  #{$outer-wrapper} {
    & {
      margin-top: 0;
    }
    // sizes here
    .calculator {
      > .title {
      }
      .display {
        .calculation {
        }
        .result,
        .result_err {
        }
        p {
        }
      }
      .keyboard {
        border-radius: 1rem;
        justify-content: space-evenly;

        button {
        }
      }

      // colors here
      @include themify($themes) {
      }
    }
    .sidebar {
      > .title {
        font-size: 3rem;
        margin-top: -1.5rem;
      }
      .keyboard {
        display: flex;
        flex-direction: column;
        align-content: center;
        button {
          padding: 0;
        }
      }
      .keyboard-theme-type {
        .btn-theme-type {
        }
      }
      .keyboard-theme {
        .btn-theme {
        }
      }
      .sidebar-keyboard-wrapper {
        .circle {
          &:hover {
            .keyboard {
              .btn {
              }
            }
          }
        }
        .circle-1 {
          &:hover {
          }
        }

        .circle-2 {
          &:hover {
          }
        }
      }
    }
  }
}

///////////// portrait
/////// sm - md
/////// open

@include respond-between(sm, md) {
  #{$outer-wrapper} {
    &#{$open} {
      //sizes here
      .calculator {
      }
      .sidebar {
      }
      // colors here
      @include themify($themes) {
      }
    }
  }
}

///////////// ///////////// /////////////
/////////// landscape section ///////////
///////////// ///////////// /////////////

///////////// landscape
/////// xs
@include respond-below(xs) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      & {
        width: 100%;
        margin-top: $s-05r$i;
        padding-left: $s-1r$i;
        padding-right: $s-1r$i;
      }
      //sizes here
      .calculator {
      }
      // colors here
      @include themify($themes) {
      }
    }
  }
}

///////////// landscape
/////// xs
/////// open
@include respond-below(xs) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      &#{$open} {
        //sizes here
        .calculator {
          transform: matrix3d(
            1,
            0,
            0,
            0.0025,
            0,
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
          );
        }
        // colors here
        @include themify($themes) {
        }
      }
    }
  }
}

///////////// landscape
/////// sm
@include respond-below(sm) {
  @include orientation(landscape) {
    #{$outer-wrapper} {
      & {
        width: 100%;
        margin-top: 0;
        padding-left: $s-1r$i;
        padding-right: $s-1r$i;
      }
      .calculator {
        > .title {
          font-size: 2.7rem;
          line-height: 1.4rem;
          font-weight: 100;
          margin-top: 7px;
        }
        max-width: none;
        .keyboard {
          button {
            margin: 5px;
          }
        }
      }
      .sidebar {
        .keyboard {
          .title {
          }
          .btn-theme-type {
          }
          .btn-theme {
          }
        }
      }
    }
  }
}

///////////// landscape
/////// sm
/////// open
@include respond-below(sm) {
}

// @include media-breakpoint-down(xl) {
//   #{$outer-wrapper} {
//     > div.row:first-of-type {
//       > div {
//       }
//       > div:nth-of-type(1) {
//       }
//       > div:nth-of-type(2) {
//       }
//     }
//     .calculator {
//       > .title {
//       }
//       .keyboard {
//         button {
//         }
//       }
//     }
//     div.sidebar {
//     }
//   }
// }

// @include media-breakpoint-down(lg) {
//   #{$outer-wrapper} {
//     > div.row:first-of-type {
//       position: relative;
//       > div {
//       }
//       > div:nth-of-type(1) {
//       }
//       > div:nth-of-type(2) {
//       }
//     }
//     .calculator {
//       > p.title {
//         font-size: 2.7rem;
//         line-height: 2rem;
//         font-weight: 100;
//         margin-bottom: 0;
//       }
//       .keyboard {
//         button {
//         }
//       }
//     }
//     .sidebar {
//     }
//   }
// }

// @include media-breakpoint-down(md) {
//   canvas {
//     // display: none;
//   }

//   #{$outer-wrapper} {
//     > div.row:first-of-type {
//       > div {
//       }
//       > div:nth-of-type(1) {
//       }
//       > div:nth-of-type(2) {
//       }
//     }
//     p.settings {
//       .fa.fa-cog {
//       }
//     }
//     .calculator {
//       > .title {
//       }
//       .keyboard {
//         .btn {
//         }
//       }
//     }
//     .sidebar {
//       div.keyboard {
//         .btn {
//         }
//       }
//     }
//   }
// }

// @include media-breakpoint-down(sm) {
//   #{$outer-wrapper} {
//     > div.row:first-of-type {
//       > div {
//       }
//       > div:nth-of-type(1) {
//       }
//       > div:nth-of-type(2) {
//       }
//     }
//     .calculator {
//       > .title {
//       }
//       .keyboard {
//         .btn {
//           font-size: 2rem;
//         }
//       }
//     }

//     &#{$open} {
//       > div.row:first-of-type {
//         > div {
//         }
//         > div:nth-of-type(1) {
//         }
//         > div:nth-of-type(2) {
//         }
//       }
//       div.calculator {
//         transform: matrix3d(
//           1,
//           0,
//           0,
//           0.0015,
//           0,
//           1,
//           0,
//           0,
//           0,
//           0,
//           1,
//           0,
//           0,
//           0,
//           0,
//           1
//         );
//         > .title {
//         }
//         .keyboard {
//           .btn {
//           }
//         }
//       }
//     } //end open

//     .sidebar {
//       $circle-diam-sm: 2rem;
//       div.circle {
//         z-index: 2;
//         position: absolute;
//         border-radius: 2rem;
//         transform-origin: center;
//         height: $circle-diam-sm;
//         width: $circle-diam-sm;
//         left: calc(50% - math.div($circle-diam-sm, 2));
//         top: calc(50% - math.div($circle-diam-sm, 2));
//         @include transition(all 0.25s);

//         &:after {
//           height: $circle-diam-sm * 1.333;
//           width: $circle-diam-sm * 1.333;
//           left: calc(50% - math.div($circle-diam-sm * 1.333, 2));
//           top: calc(50% - math.div($circle-diam-sm * 1.333, 2));
//         }
//         &:hover {
//           transform: scale(1.33);
//         }
//         &:hover:after {
//           transform: scale(0.75);
//         }
//       }
//       div.keyboard {
//         .btn {
//           width: 4rem;
//         }
//       }
//     }

//     div#circle1 {
//       ~ div.keyboard {
//         @include on-circle(
//           $item-count: 3,
//           $circle-width: 100%,
//           $circle-height: 100%,
//           $circle-radius: 150%,
//           $item-size: 4rem
//         );

//         .btn {
//         }
//       }
//     }

//     div#circle2 {
//       ~ div.keyboard {
//         @include on-circle(
//           $item-count: 5,
//           $circle-width: 100%,
//           $circle-height: 100%,
//           $circle-radius: 150%,
//           $item-size: 4rem
//         );
//         .btn {
//         }
//       }
//     }

//     &#{$anim} {
//       div#circle2 {
//         ~ div.keyboard {
//           @include on-circle(
//             $item-count: 8,
//             $circle-width: 100%,
//             $circle-height: 100%,
//             $circle-radius: 150%,
//             $item-size: 4rem
//           );
//         }
//       }
//     }
//   }
// }

// ////////// landscape sm
// @include orientation(landscape) {
//   #{$outer-wrapper} {
//     // closed
//     .calculator {
//     }
//     .sidebar {
//     }
//     &#{$open} {
//       //sizes here
//       .calculator {
//       }
//       .sidebar {
//       }
//     }
//   }
// }

// @include media-breakpoint-down(xs) {
//   #{$outer-wrapper} {
//     > div.row.flex-nowrap:first-of-type {
//       position: fixed;
//       top: 0;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       > div.calculator {
//         > div:nth-of-type(1) {
//           .col {
//             //// 320px and 480px
//             margin: 40px 3px 100px;
//           }
//         }
//         > div:nth-of-type(2) {
//           .col {
//             padding: 40px 10px;
//             //// 320px
//             padding: inherit;
//           }
//         }
//       }
//     }
//     p.settings {
//       .fa.fa-cog {
//         font-size: 1.5rem;
//       }
//     }
//     .calculator {
//       > .title {
//       }
//       .display {
//         .result,
//         .result_err {
//         }
//         .calculation {
//         }
//       }
//       .keyboard {
//         padding: 2px;
//         .btn {
//           font-size: 1.5rem;
//         }
//       }
//     }
//     div.sidebar {
//       width: 50%;
//       div.keyboard {
//         .btn {
//           // font-size: 1.2rem;
//           // width: 30%;
//         }
//       }
//     }

//     &#{$open} {
//       div.calculator {
//         transform: matrix3d(1, 0, 0, 0.002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
//         canvas {
//         }
//         .keyboard {
//           .btn {
//           }
//         }
//       }
//       .settings {
//       }
//       .sidebar {
//         div.keyboard {
//           .btn {
//           }
//         }
//       }
//     }
//   }
// }

// @include media-breakpoint-down(xxs) {
//   #{$outer-wrapper} {
//     > div.row.flex-nowrap:first-of-type {
//       > div.calculator {
//         > div:nth-of-type(1) {
//           .col {
//             //// 320px and 480px
//           }
//         }
//         > div:nth-of-type(2) {
//           .col {
//           }
//         }
//       }
//     }
//     p.settings {
//       .fa.fa-cog {
//         font-size: 1.5rem;
//       }
//     }
//     &#{$open} {
//       div.calculator.col {
//         transform: matrix3d(
//           1,
//           0,
//           0,
//           0.0025,
//           0,
//           1,
//           0,
//           0,
//           0,
//           0,
//           1,
//           0,
//           0,
//           0,
//           0,
//           1
//         );
//       }
//     }
//     div.calculator.col {
//       > .title {
//       }
//       .display {
//         .result,
//         .result_err {
//         }
//         .calculation {
//         }
//       }
//       .keyboard {
//         .btn {
//         }
//       }
//     }
//     div.sidebar {
//       div.keyboard {
//         .btn {
//           width: 2.75rem;
//         }
//       }
//     }

//     &#{$open} {
//       div.calculator {
//         canvas {
//         }
//         .keyboard {
//           .btn {
//           }
//         }
//       }
//       .settings {
//       }
//       .sidebar {
//         div.keyboard {
//           .btn {
//           }
//         }
//       }
//     }

//     div#circle1 {
//       ~ div.keyboard {
//         @include on-circle(
//           $item-count: 3,
//           $circle-width: 100%,
//           $circle-height: 100%,
//           $circle-radius: 150%,
//           $item-size: 2.75rem
//         );

//         .btn {
//         }
//       }
//     }

//     div#circle2 {
//       ~ div.keyboard {
//         @include on-circle(
//           $item-count: 5,
//           $circle-width: 100%,
//           $circle-height: 100%,
//           $circle-radius: 150%,
//           $item-size: 2.75rem
//         );
//         .btn {
//         }
//       }
//     }

//     &#{$anim} {
//       div#circle2 {
//         ~ div.keyboard {
//           @include on-circle(
//             $item-count: 8,
//             $circle-width: 100%,
//             $circle-height: 100%,
//             $circle-radius: 150%,
//             $item-size: 2.75rem
//           );
//         }
//       }
//     }
//   }
// }

// @include media-breakpoint-down(xxxs) {
//   #{$outer-wrapper} {
//     > div.row.flex-nowrap:first-of-type {
//       > div.calculator {
//         > div:nth-of-type(1) {
//           .col {
//             //// 320px and 480px
//           }
//         }
//         > div:nth-of-type(2) {
//           .col {
//           }
//         }
//       }
//     }
//     p.settings {
//       right: 2%;
//       .fa.fa-cog {
//         font-size: 1.5rem;
//       }
//     }
//     // &#{$open} {
//     //   div.calculator.col {
//     //     transform: matrix3d(
//     //       1,
//     //       0,
//     //       0,
//     //       0.0025,
//     //       0,
//     //       1,
//     //       0,
//     //       0,
//     //       0,
//     //       0,
//     //       1,
//     //       0,
//     //       0,
//     //       0,
//     //       0,
//     //       1
//     //     );
//     //   }
//     // }
//     div.calculator.col {
//       > .title {
//       }
//       .display {
//         .result,
//         .result_err {
//           font-size: 2rem;
//         }
//         .calculation {
//           font-size: 1.5rem;
//           min-height: 2.25rem;
//         }
//       }
//       .keyboard {
//         .btn {
//           margin: 8px;
//         }
//       }
//     }

//     div.sidebar {
//       // max-width: 30%;
//       $circle-diam-xxs: 1rem;
//       div.circle {
//         z-index: 2;
//         position: absolute;
//         border-radius: 2rem;
//         transform-origin: center;
//         height: $circle-diam-xxs;
//         width: $circle-diam-xxs;
//         left: calc(50% - math.div($circle-diam-xxs, 2));
//         top: calc(50% - math.div($circle-diam-xxs, 2));
//         @include transition(all 0.25s);

//         &:after {
//           height: $circle-diam-xxs * 1.333;
//           width: $circle-diam-xxs * 1.333;
//           left: calc(50% - math.div($circle-diam-xxs * 1.333, 2));
//           top: calc(50% - math.div($circle-diam-xxs * 1.333, 2));
//         }
//         &:hover {
//           transform: scale(1.33);
//         }
//         &:hover:after {
//           transform: scale(0.75);
//         }
//       }
//       div.keyboard {
//         button.btn {
//           width: 2.25rem;
//           font-size: 100%;
//         }
//       }
//     }

//     &#{$open} {
//       div.calculator {
//         canvas {
//         }
//         .keyboard {
//           .btn {
//           }
//         }
//       }
//       .settings {
//       }
//       .sidebar {
//         div.keyboard {
//           .btn {
//           }
//         }
//       }
//     }

//     div#circle1 {
//       ~ div.keyboard {
//         @include on-circle(
//           $item-count: 3,
//           $circle-width: 100%,
//           $circle-height: 100%,
//           $circle-radius: 150%,
//           $item-size: 2.25rem
//         );

//         .btn {
//         }
//       }
//     }

//     div#circle2 {
//       ~ div.keyboard {
//         @include on-circle(
//           $item-count: 5,
//           $circle-width: 100%,
//           $circle-height: 100%,
//           $circle-radius: 150%,
//           $item-size: 2.25rem
//         );
//         .btn {
//         }
//       }
//     }

//     &#{$anim} {
//       div#circle2 {
//         ~ div.keyboard {
//           @include on-circle(
//             $item-count: 8,
//             $circle-width: 100%,
//             $circle-height: 100%,
//             $circle-radius: 150%,
//             $item-size: 2.25rem
//           );
//         }
//       }
//     }
//   }
// }
