#{$outer-wrapper} {
    .settings {
        @include transition(all 0.25s);
        z-index: 3;
        position: absolute;
        top: -1rem;
        right: 0;
        margin: 0;
        transform: scale(1);
        .cog {
            position: relative;
            font-size: 3rem;
            &:before {
                content: "\2699";
            }
            
        }
    }
    
    // open
    &#{$open} {
        .settings {
            transform: scale(.7);
            .cog {
            }
        }
    }
}
