.settings-icon {
    @include transition(all 0.25s);
    position: fixed;
    top: 15px;
    right: 15px;
    transform: rotate(0deg);
    transform-origin: 50% 45%;
    z-index: 20;
    margin: 0;

    svg {
        height: clamp(2rem, 4vw, 4rem);
        width: clamp(2rem, 4vw, 4rem);
    }

    &.open {
        transform: rotate(90deg);
    }
}

.settings {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .keyboard {
        .btn {}
    }

    div.setting-wrapper {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        text-align: center;
        border: 3px solid;
        border-radius: 10px;
        flex-wrap: wrap;
        border: 0;

        p:first-child {
            flex: 1 1 100%;
        }

        div.settings-btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {}

            button.btn {
                width: clamp(4rem, 10vw, 6rem);
            }
        }
    }

}