.settings-icon {
    @include transition(all 0.25s);
    position: fixed;
    top: 10px;
    right: 25px;
    transform: rotate(0deg);
    transform-origin: 50% 45%;
    z-index: 20;

    svg {
        height: clamp(2rem, 4vw, 4rem);
        width: clamp(2rem, 4vw, 4rem);
    }

    &.open {
        transform: rotate(90deg);
    }
}

.settings {
    justify-content: space-around;
    align-items: center;
    margin: -10px 0 0 0;
    flex-direction: column;

    .keyboard {
        .btn {}
    }

    .setting-wrapper {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        text-align: center;
        border: 3px solid;
        padding: 5px;
        border-radius: 10px;
        margin: 10px 0 0 0;
        flex-wrap: wrap;
        border: 0;

        p:first-child {
            flex: 1 1 100%;
        }

        .settings-btn-wrapper {
            display: flex;
            flex-direction: column;

            p {}

            .btn {
                width: clamp(4rem, 10vw, 6rem);
            }
        }
    }

}