@use "sass:math";

.sidebar {
  @include transition(all 0.25s);
  z-index: 0;
  position: absolute;
  height: $ps-1;
  top: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  border-radius: $s-05r;
  justify-content: left$i;
  .keyboard {
    margin-top: $s-2r;
    margin-bottom: $s-2r;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: $ps-1;
  }
}

.sidebar {
}

#{$open} {
  div.sidebar {
    transform: scaleX(1) $i;
    z-index: 2;
    .title {
    }
  }
}

#{$picture} {
  // sizes
  .sidebar {
    .keyboard {
    }
  }
}

.sidebar {
}

#{$animation} {
}
