@use 'sass:math';
// rem sizes
$s-01r: 0.1rem;
$s-025r: 0.25rem;
$s-03r: 0.3rem;
$s-033r: 0.33rem;
$s-04r: 0.4rem;
$s-05r: 0.5rem;
$s-06r: 0.6rem;
$s-066r: 0.66rem;
$s-07r: 0.7rem;
$s-075: 0.75em;
$s-08r: 0.8rem;
$s-09r: 0.9rem;
$s-1r: 1rem;
$s-2r: 2rem;
$s-25r: 2.5rem;
$s-3r: 3rem;
$s-4r: 4rem;
$s-5r: 5rem;
$s-6r: 6rem;

// percentages
$ps-1: 100%;
$ps-2: 50%;
$ps-3: 33%;
$ps-4: 25%;
$ps-5: 25%;
$ps-10: 10%;

// buttons
$btn-main-pc: 3rem;
$btn-main-tab: 3rem;
$btn-main-mob: 4rem;
$btn-sidebar-pc: 3rem;
$btn-sidebar-tab: 3rem;
$btn-sidebar-mob: 4rem;

$btn-main-pc-border-radius: math.div($btn-main-pc,2);
$btn-main-tab-border-radius: math.div($btn-main-tab,2);
$btn-main-mob-border-radius: math.div($btn-main-mob,2);
$btn-sidebar-pc-border-radius: math.div($btn-sidebar-pc,2);
$btn-sidebar-tab-border-radius: math.div($btn-sidebar-tab,2);
$btn-sidebar-mob-border-radius: math.div($btn-sidebar-mob,2);

